<%= stylesheet_link_tag "home/footer", media: "all" %>

<div class="bg-black">
  <footer class="py-5 px-sm-5">
    <div class="row">
      <div class="col-12 col-lg-2 mb-3 text-center">
        <%= image_tag "logo.png", class: "img-fluid", width: "60" %>
        <div class="text-white mt-4">DOWNLAOD NOW</div>
        <div class="d-flex gap-3 justify-content-center">
          <div class="mt-3">
            <%= image_tag "apple-icon.svg" %>
            <%= image_tag "android-icon.svg", class: 'ms-2' %>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-8 mb-3 text-center">
        <form>
          <h5 id="newsletterHeading" class="text-white">Subscribe to our newsletter</h5>
          <div class="d-flex flex-sm-row w-100 gap-4 justify-content-center mt-5 px-2">
            <input id="subscribeInput" type="text" class="form-control" placeholder="Email address">
            <button id="subscribeBtn" class="btn btn-primary border-0" type="button">Subscribe</button>
          </div>
        </form>
      </div>

      <div class="col-12 col-lg-2 mb-3 text-center text-lg-start mt-4 mt-lg-0">
        <h5 class="text-white fs-3">ECOSYSTEM</h5>
        <ul class="nav flex-column mt-4">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 fs-5">STEP APP</a></li>
          <li class="nav-item mb-2"><%= link_to "STEP EX", exchange_path, class: "nav-link p-0 fs-5" %></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 fs-5">STEP LAUNCH</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 fs-5">STEP NETWORK</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 fs-5">STEP BRIDGE</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 mt-4 fs-3">PARTNERSHIPS</a></li>
          <li class="nav-item mb-2"><%= link_to "PRIVACY POLICY", privacy_policy_path, class: "nav-link p-0 mt-4 fs-3" %></li>
          <li class="nav-item mb-2"><%= link_to "TERMS OF USE", terms_of_use_path, class: "nav-link p-0 mt-4 fs-3" %></li>
        </ul>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-center py-4 my-4 border-top">
      <div class="row px-2">
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">TWITTER</a>
        </div>
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">TELEGRAM</a>
        </div>
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">DISCORD</a>
        </div>
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">INSTAGRAM</a>
        </div>
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">TIKTOK</a>
        </div>
        <div class="col">
          <a class="footerSocialTxt link-body-emphasis text-white fs-4 fw-normal" href="#">YOUTUBE</a>
        </div>
      </div>
    </div>
  </footer>
</div>