<%= stylesheet_link_tag "home/navbar", media: "all" %>

<nav class="navbar navbar-expand-lg" style= "background-color: rgb(42, 45, 48);">
  <div class="container-fluid">
    <a class="navbar-brand fw-semibold fs-3" href="#" style="color: #F9D549">Shepydogs</a>
    <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ABOUT
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="#">VISION, MISSION, VALUES</a></li>
            <li><a class="dropdown-item" href="#">ROADMAP</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TOKENS
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="#">BUY FITFI</a></li>
            <li><a class="dropdown-item" href="#">BUY KCAL</a></li>
            <li><%= link_to "STAKING", staking_path, class: "dropdown-item" %></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            ECOSYSTEM
          </a>
          <ul class="dropdown-menu text-center">

          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white fs-4" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            EXPLORE
          </a>
          <ul class="dropdown-menu text-center">
            <li><a class="dropdown-item" href="#">REFERRALS</a></li>
            <li><a class="dropdown-item" href="#">AFFILIATE</a></li>
            <li><a class="dropdown-item" href="#">BLOG</a></li>
            <li><a class="dropdown-item" href="#">HELP</a></li>
          </ul>
        </li>
      </ul>
      <% if current_user %>
        <%= link_to "Connect Wallet", "#", id: 'connect-wallet-btn', class: "btn getAppBtn me-4" %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path, class: "btn getAppBtn me-4" %>
      <% end %>
      <button class="btn getAppBtn">GET THE APP</button>
      <div class="wrap-button-nav">
        <div class="box-link-social d-flex justify-content-evenly mt-5 mb-4 d-sm-none d-block">
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" style="" viewBox="0 0 15 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15 1.53902C14.4481 1.8003 13.855 1.97626 13.2325 2.05558C13.8681 1.64966 14.3562 1.00646 14.5856 0.239951C13.9912 0.615874 13.3325 0.889151 12.6312 1.03645C12.0706 0.398585 11.27 0 10.385 0C8.39812 0 6.93812 1.97693 7.38687 4.02917C4.83 3.89253 2.5625 2.58614 1.04437 0.600543C0.238125 2.07557 0.62625 4.00518 1.99625 4.98231C1.4925 4.96498 1.0175 4.81768 0.603125 4.57173C0.569375 6.09208 1.59125 7.51446 3.07125 7.83106C2.63812 7.95637 2.16375 7.98569 1.68125 7.88705C2.0725 9.19078 3.20875 10.1393 4.55625 10.1659C3.2625 11.2477 1.6325 11.7309 0 11.5256C1.36187 12.4568 2.98 13 4.7175 13C10.4313 13 13.6594 7.85372 13.4644 3.238C14.0656 2.77476 14.5875 2.19688 15 1.53902Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </a>
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" viewBox="0 0 96 96" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M27.9922 0C12.5562 0 0 12.5678 0 28.0078V68.0078C0 83.4438 12.5678 96 28.0078 96H68.0078C83.4438 96 96 83.4322 96 67.9922V27.9922C96 12.5562 83.4322 0 67.9922 0H27.9922ZM76 16C78.208 16 80 17.792 80 20C80 22.208 78.208 24 76 24C73.792 24 72 22.208 72 20C72 17.792 73.792 16 76 16ZM48 24C61.236 24 72 34.764 72 48C72 61.236 61.236 72 48 72C34.764 72 24 61.236 24 48C24 34.764 34.764 24 48 24ZM48 32C43.7565 32 39.6869 33.6857 36.6863 36.6863C33.6857 39.6869 32 43.7565 32 48C32 52.2435 33.6857 56.3131 36.6863 59.3137C39.6869 62.3143 43.7565 64 48 64C52.2435 64 56.3131 62.3143 59.3137 59.3137C62.3143 56.3131 64 52.2435 64 48C64 43.7565 62.3143 39.6869 59.3137 36.6863C56.3131 33.6857 52.2435 32 48 32Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </a>
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" style="" viewBox="0 0 18 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M15.717 1.67141C15.4546 1.27752 15.0831 0.976222 14.6424 0.801075C13.6859 0.419919 12.8633 0.1653 12.1272 0.0217881C11.6109 -0.0785161 11.0997 0.173788 10.8539 0.649075L10.7926 0.767897C10.2475 0.7081 9.66872 0.68804 9.00954 0.704629C8.33367 0.688426 7.75291 0.7081 7.20709 0.767897L7.14614 0.649075C6.90041 0.173788 6.38836 -0.0781304 5.87321 0.0221739C5.13717 0.1653 4.31417 0.419919 3.35801 0.801461C2.91778 0.976608 2.54627 1.27752 2.28345 1.67179C0.450723 4.42283 -0.267462 7.39029 0.0881369 10.7443C0.10056 10.862 0.166555 10.9673 0.267101 11.0302C1.67707 11.9136 2.89721 12.5185 4.10686 12.9344C4.6127 13.11 5.17366 12.9136 5.47219 12.4603L6.00442 11.6498C5.5805 11.4908 5.16667 11.3025 4.76992 11.0776C4.58397 10.9723 4.51914 10.7366 4.62512 10.5518C4.7311 10.3662 4.9683 10.301 5.15464 10.4079C6.33518 11.0769 7.66984 11.4306 9.0142 11.4306C10.3586 11.4306 11.6932 11.0769 12.8738 10.4079C13.0597 10.301 13.2969 10.3662 13.4033 10.5518C13.5093 10.7366 13.4444 10.9723 13.2585 11.0776C12.8485 11.3103 12.4199 11.5039 11.9809 11.6656L12.5286 12.4765C12.7542 12.8102 13.1265 13 13.51 13C13.635 13 13.7612 12.9796 13.8839 12.9379C15.097 12.5216 16.3195 11.9159 17.7326 11.0306C17.8331 10.9677 17.8991 10.862 17.9115 10.7447C18.2679 7.39029 17.5497 4.42244 15.717 1.67141ZM6.52035 8.35823C5.77267 8.35823 5.15736 7.57547 5.15736 6.62412C5.15736 5.67278 5.77267 4.89002 6.52035 4.89002C7.26804 4.89002 7.88335 5.67278 7.88335 6.62412C7.88335 7.57547 7.26804 8.35823 6.52035 8.35823ZM11.5643 8.3482C10.8236 8.3482 10.2142 7.56081 10.2142 6.60368C10.2142 5.64654 10.8236 4.85915 11.5643 4.85915C12.305 4.85915 12.9145 5.64654 12.9145 6.60368C12.9145 7.56081 12.305 8.3482 11.5643 8.3482Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </a>
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" style="" viewBox="0 0 14 13" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.943356 5.58847C5.25137 3.47439 10.8263 0.896897 11.5958 0.540154C13.6144 -0.393572 14.2338 -0.214627 13.925 1.85318C13.7032 3.33942 13.0632 8.26003 12.5532 11.3227C12.2505 13.139 11.5715 13.3542 10.5037 12.5685C9.99025 12.1903 7.39852 10.2785 6.83602 9.82962C6.32254 9.4205 5.61437 8.9284 6.5025 7.95911C6.81854 7.61384 8.89028 5.40723 10.5044 3.68966C10.7159 3.46407 10.4503 3.09356 10.2062 3.27442C8.0306 4.88378 5.01417 7.11753 4.63026 7.40851C4.05028 7.84784 3.49327 8.04935 2.49339 7.72893C1.73791 7.48689 0.999914 7.19821 0.712668 7.08809C-0.393471 6.66443 -0.130904 6.11575 0.943356 5.58847Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </a>
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M17.8207 5.39998C17.8207 5.39998 17.6449 4.15896 17.1035 3.61404C16.418 2.89685 15.6516 2.89333 15.3 2.85115C12.7828 2.66833 9.00352 2.66833 9.00352 2.66833H8.99648C8.99648 2.66833 5.21719 2.66833 2.7 2.85115C2.34844 2.89333 1.58203 2.89685 0.896484 3.61404C0.355078 4.15896 0.182812 5.39998 0.182812 5.39998C0.182812 5.39998 0 6.85896 0 8.31443V9.67849C0 11.134 0.179297 12.5929 0.179297 12.5929C0.179297 12.5929 0.355078 13.834 0.892969 14.3789C1.57852 15.0961 2.47852 15.0715 2.8793 15.1488C4.3207 15.2859 9 15.3281 9 15.3281C9 15.3281 12.7828 15.3211 15.3 15.1418C15.6516 15.0996 16.418 15.0961 17.1035 14.3789C17.6449 13.834 17.8207 12.5929 17.8207 12.5929C17.8207 12.5929 18 11.1375 18 9.67849V8.31443C18 6.85896 17.8207 5.39998 17.8207 5.39998ZM7.14023 11.3344V6.27537L12.0023 8.81365L7.14023 11.3344Z" fill="currentColor">
                </path>
              </svg>
            </div>
          </a>
          <a href="#" target="_blank" class="text-white w-inline-block">
            <div class="navIcons w-embed">
              <svg width="100%" viewBox="0 0 15 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.2802 2.50752C10.6819 1.83515 10.3222 0.958437 10.3222 0H9.57252C9.76559 1.0476 10.4018 1.94661 11.2802 2.50752Z" fill="currentColor">
                </path>
                <path d="M4.34321 7.92382C3.04443 7.92382 1.98799 8.96029 1.98799 10.2345C1.98799 11.1224 2.50296 11.895 3.25269 12.2814C2.97249 11.9025 2.80588 11.4381 2.80588 10.9329C2.80588 9.65869 3.86232 8.62222 5.16113 8.62222C5.40346 8.62222 5.6382 8.66307 5.85783 8.72995V5.92154C5.63062 5.89179 5.39967 5.87319 5.16113 5.87319C5.11946 5.87319 5.08159 5.87691 5.03993 5.87691V8.03155C4.81653 7.96467 4.58555 7.92382 4.34321 7.92382Z" fill="currentColor"></path>
                <path d="M13.4044 3.74086V5.87691C11.9503 5.87691 10.6023 5.42001 9.50418 4.64729V10.2382C9.50418 13.0281 7.19065 15.3016 4.34315 15.3016C3.24505 15.3016 2.22269 14.9598 1.38587 14.384C2.32871 15.3759 3.67293 16 5.16107 16C8.00472 16 10.3221 13.7302 10.3221 10.9366V5.34569C11.4202 6.11841 12.7682 6.57531 14.2222 6.57531V3.82634C13.9382 3.82634 13.6656 3.79659 13.4044 3.74086Z" fill="currentColor"></path>
                <path d="M9.50418 10.2382V4.64729C10.6023 5.42001 11.9503 5.87691 13.4044 5.87691V3.74086C12.5637 3.56631 11.8255 3.1205 11.2802 2.50752C10.4017 1.94661 9.76927 1.0476 9.56855 0H7.51627L7.51248 11.022C7.46707 12.2554 6.42951 13.2473 5.16107 13.2473C4.37345 13.2473 3.68051 12.8646 3.24885 12.2851C2.49911 11.895 1.98414 11.1261 1.98414 10.2382C1.98414 8.96401 3.04058 7.92754 4.33937 7.92754C4.5817 7.92754 4.81647 7.96839 5.03609 8.03527V5.88063C2.2492 5.94007 0 8.18385 0 10.9366C0 12.2665 0.526329 13.4776 1.38587 14.384C2.22269 14.9598 3.24505 15.3016 4.34315 15.3016C7.18685 15.3016 9.50418 13.0281 9.50418 10.2382Z" fill="currentColor"></path>
              </svg>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<%= javascript_include_tag "connect_wallet" %>