<div class="py-2" style="background-image: linear-gradient(to right, #f9d549 25%, white); height: 100vh;">
  <%= render partial: 'shared/exchange/navbar' %>
  <div class="row gx-0 mt-5">
    <div class="col-12 col-md-6">
      <div class="mt-5 p-3">
        <h1 class="h1-92">The DEX Made by&nbsp;Humans for&nbsp;Humans</h1>
        <div class="box-tags">
          <div class="wrp-tags">
            <div class="t-12 tags-text">Swap</div>
            <div class="t-12 tags-text">Farm</div>
            <div class="t-12 tags-text">stake</div>
            <div class="t-12 tags-text">win</div>
          </div>
          <div class="t-16">all in one decentralized crypto trading protocol</div>
          <%= link_to "TRADE NOW", "#", class: "button-blue w-25" %>
        </div>
      </div>
    </div>
    <div class="col-md-6 py-5 d-flex align-items-center justify-content-center">
      <%= image_tag "logo.png", class: "img-fluid", style: "width: 30rem;" %>
    </div>
  </div>
  <div class="row gx-0 mb-4">
    <div class="col-10 col-lg-12 p-3">
      <h2 class="mt-5 h2-80 mb-4">First DEX for</br>Mainstream Usage</h2>
      <p class="p-24">Shepydogs is plugged into apps that target tens of millions of mass consumers.</br> This is DeFi delivered to the masses, through built-in integrations to mass</br> usage apps</p>
    </div>
  </div>
  <div class="row gx-0 mb-4 mt-5">
    <div class="col-12 col-md-6 p-3">
      <div class="d-flex align-items-center justify-content-center mb-4">
        <div class="p-3" style="background-image: radial-gradient(#f9d549 5%, white, white)">
          <%= image_tag "integrate-icon.png", class: "img-fluid", width: '250' %>
        </div>
      </div>
      <div>
        <h5 class="h3-44 roboto-mono mb-4">Integrated in Step App</h5>
        <div class="yellow-line-wide mb-5"></div>

        <p class="p-32-24 roboto-mono">Step App is an augmented reality app that re-creates fitness experiences in the metaverse. <br><br>It is endorsed and adopted by the world’s biggest athletes, like Usain Bolt.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 p-3">
      <div class="d-flex align-items-center justify-content-center mb-4">
        <div class="p-3" style="background-image: radial-gradient(#f9d549 5%, white, white)">
          <%= image_tag "thumbs-up-icon.png", class: "img-fluid", width: '250' %>
        </div>
      </div>

      <div>
        <h5 class="h3-44 roboto-mono mb-4">Integrated in Step SDK</h5>
        <div class="yellow-line-wide mb-5"></div>

        <p class="p-32-24 roboto-mono">Step Protocol SDK is used by global corporations &amp; third party developers. It allows rapid launch of a m2e app built on Step technology.<br><br>The SDK is used by Global Titans (Silva, Mayweather, etc.), UNTOLD (David Guetta, Claptone, etc.), and more.</p>
      </div>
    </div>
  </div>

  <div class="row gx-0 mb-4 mt-5">
    
  </div>
</div>